.ApFormRow > div {
    display: flex;
}

.ap-green > div {
    background-color: lightgreen;
}

.ap-yellow > div {
    background-color: lightgoldenrodyellow;
}

.ap-blue > div {
    background-color: lightblue;
}

.ap-red > div {
    background-color: lightcoral;
}

.tech-list ul {
    list-style: none;
    padding-left: 0;
}